/*fuentes*/
@font-face{
	font-family: gotica;
	src: url("../fonts/Didact_Gothic/DidactGothic-Regular.ttf");
}
@font-face{
	font-family: divertida;
	src: url("../fonts/LuckiestGuy-Regular.ttf");
}
@font-face{
	font-family: logo;
	src: url("../fonts/FredokaOne-Regular.ttf");
}
@font-face {
	font-family: logo1;
	src: url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
}
.logo{
	width: 60px;
}
.logo1{
	font-family: 'balsamiq Sans';
	font-weight: bold;
}

.sala{
	position: relative;
	width: 1110px;
	height: 800px;
	border: solid 1px gray;
	
}
.lista{
	border: solid 1px lightgray;
	padding: 20px;
}

.retrato{
	
	margin: 2px;
	height: 45px;
	width: 30px;
	transition: width 0.5s, height 0.5s;
}

.retrato:active{
	width: 60px;
	height: 80px;
}

.pupitre{
	background: lightgray;
	display: block;
	border: solid 1px gray;
	width: 120px;
	height: 100px;
	padding: 6px;
	border-radius: 5px;
	transition: width 0.5s, height 0.5s;
}
.pupitre img{
	border-radius: 50px;
	display: block;
	margin: auto;
	height: 20px;
	width: 20px;
	transition: width 0.5s, height 0.5s;
}

.pupitre img:active{
	display: block;
	width: 60px;
	height: 80px;
}
.pupitre2{
	background: lightgray;
	display: block;
	border: solid 1px gray;
	width: 120px;
	height: 100px;
	padding: 6px;
	border-radius: 5px;
	transition: width 0.5s, height 0.5s;
}
.pupitre2 img{
	border-radius: 50px;
	display: block;
	margin: auto;
	height: 20px;
	width: 20px;
	transition: width 0.5s, height 0.5s;
}

.pupitre2 img:active{
	display: block;
	width: 60px;
	height: 80px;
}
.pop, .pop:hover, .pop:visited, .pop:link, .pop:active{
	text-decoration: none;
	color: black;
}
.texto{
	letter-spacing: 0px;
	margin: auto;
	text-align: center;
	font-size: 14px;
	font-family: gotica;
	font-weight: bold;
}

.profesor{
	letter-spacing: 0px;
	margin: auto;
	text-align: center;
	color: black;
	font-size: 17px;
	font-family: gotica;
	font-weight: bold;
}

.Lista{
	list-style: none;
	margin: 0px;
	font-family: gotica;
}
.buenas{
	color: rgb(0, 230, 0);
	font-weight: bold;
}
.malas{
	color: rgb(230, 0, 0);
	font-weight: bold;
}

.politicas{
	max-width: 700px;

}
.politicas h1{
	color: #197D00;
}
.politicas h2{
	color: #134d05;
}
.politicas h3{
	color: #27521d;
}
.politicas a{
	color: #197D00;
}
.tarjetas{
	background-color: rgb(228, 228, 228);
	display: block;
	border-radius: 5px;
}
.pizarralogo{
	background-color: #197D00;
	font-size: 100%;
	font-family: 'balsamiq sans';
	color: white;
	text-align: center;
	border-radius: 5px;
	border: solid 2px black;
	padding: 10px;
	margin: 8px;
	
	
}
.pizarraborde{
	background-color: #BE810C;
	border: solid 3px black;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}